.modal-content {
	max-height: 800px;
	overflow-y: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,
    transparent 100%);
    cursor: pointer;
}