<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="eclipse.connection.profile">Hospital</property>
		
		<property name="connection.url">jdbc:mysql://127.0.0.1/hospital</property>
		<property name="connection.username">root</property>
		<property name="connection.password">331610</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="connection.driver_class"> com.mysql.jdbc.Driver </property>
		<property name="dialect"> org.hibernate.dialect.MySQLDialect </property>

		<property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
		
		<mapping class="com.softserve.edu.entity.Card"/>
		<mapping class="com.softserve.edu.entity.Drug"/>
		<mapping class="com.softserve.edu.entity.Symptom"/>
		<mapping class="com.softserve.edu.entity.Department"/>
		<mapping class="com.softserve.edu.entity.Disease"/>
		<mapping class="com.softserve.edu.entity.Role"/>
		<mapping class="com.softserve.edu.entity.User"/>
		<mapping class="com.softserve.edu.entity.CardDrug"/>
		<mapping class="com.softserve.edu.entity.CardSymptom"/>
		<mapping class="com.softserve.edu.entity.DiseaseDrug"/>
		<mapping class="com.softserve.edu.entity.DiseaseSymptom"/>
		<mapping class="com.softserve.edu.entity.UserRole"/>
		<mapping class="com.softserve.edu.entity.Status"/></session-factory>
</hibernate-configuration>
